<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8" />-->
<!--    <title>Add Person</title>-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Create a User:</h1>-->

<!--&lt;!&ndash;-->
<!--   In Thymeleaf the equivalent of-->
<!--   JSP's ${pageContext.request.contextPath}/edit.html-->
<!--   would be @{/edit.html}-->
<!--   &ndash;&gt;-->

<!--<form th:action="@{/add}"-->
<!--      th:object="${userForm}" method="POST">-->
<!--    User Email:-->
<!--    <input type="text" th:field="*{email}" />-->
<!--    <br/>-->
<!--    User Password:-->
<!--    <input type="text" th:field="*{password}" />-->
<!--    <br/>-->
<!--    <input type="submit" value="Create" />-->
<!--</form>-->

<!--<h3>Send units to User</h3>-->
<!--<form th:action="@{/sendUnit}"-->
<!--      th:object="${account}" method="POST">-->
<!--    User ID:-->
<!--    <input type="text" th:field="*{id}" />-->
<!--    <br/>-->
<!--    Units:-->
<!--    <input type="text" th:field="*{units}" />-->
<!--    <br/>-->
<!--    <input type="submit" value="Create" />-->
<!--</form>-->

<!--<br/>-->
<!--<div th:if="${errorMessage}" th:utext="${errorMessage}"-->
<!--     style="color:red;font-style:italic;">-->
<!--</div>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">HOME</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/register">REGISTER THE NEW USER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">VIEW ALL USERS</a>
            </li>
        </ul>
    </div>
    <a class="navbar-brand" href="/logout">LOGOUT</a>
</nav>
<hr>
<form class="form-group" action="/add" style="text-align: center" method=post>
    <div class="container col-lg-4 border" style="border-radius: 20px">
        <h2 class="text-center">REGISTRATION</h2>
        <p class="text-center">Please enter data of a new user in this form</p>
        <hr>

        <div class="form-group">
            <label for="email"></label>
            <input type="text" class="form-control" placeholder="Enter email" name="email" id="email" required>
        </div>

        <div class="form-group">
            <label for="password"></label>
            <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password" required>
        </div>

        <div class="form-group">
            <label for="repeatPassword"></label>
            <input type="password" class="form-control" placeholder="Repeat Password" name="repeatPassword" id="repeatPassword" required>
        </div>
        <hr>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>

        <div class="container singin">
        </div>
    </div>
</form>
</body>
</html>
